<?xml version="1.0"?>
<launch>
  <!-- Camera nodes -->

  <!-- AR tag tracking nodes -->
  <remap from="/c270_1/ar_pose_marker" to="/coslam/ar_pose_marker01"/>
  <remap from="/c270_2/ar_pose_marker" to="/coslam/ar_pose_marker02"/>
  <include file="$(find visual_coslam)/launch/ar_tracker.launch" ns="c270_1" >
    <param name="name" value="c270_1"/>
  </include>
  <include file="$(find visual_coslam)/launch/ar_tracker.launch" ns="c270_2" >
    <param name="name" value="c270_2"/>
  </include>

  <!-- CoSLAM node -->
  <node name="coslam" pkg="visual_coslam" type="visual_coslam" args="_image_transport:=compressed" output="screen" >
    <remap from="~camera01/image_raw/compressed" to="/c270_1/image_raw/compressed"/>
    <remap from="~camera02/image_raw/compressed" to="/c270_2/image_raw/compressed"/>
    <param name="mode" value="online2cams"/> <!-- or "online3cams", "offline", "usbCams" -->
    <param name="calib_1" value="/home/jacob/camera_calibrations/c270_1.txt"/>
    <param name="calib_2" value="/home/jacob/camera_calibrations/c270_2.txt"/>
    <!--<param name="calib_3" value="/home/jacob/camera_calibrations/logitech_ball.txt"/>-->
  </node>
</launch>
